name: Send subscription emails

on:
    schedule:
        # 한국시간 매일 09:00에 실행
        - cron: "0 0 * * *"
    workflow_dispatch: {}

jobs:
    send:
        runs-on: ubuntu-latest
        permissions:
            issues: write
        env:
            GITHUB_REPOSITORY: ${{ github.repository }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install dependencies
              run: |
                  npm install
                  npm install nodemailer --save

            - name: Run send-subscriptions script
              env:
                  # 해당 부분은 깃허브 액션의 시크릿키 설정필요하나 GITHUB_REPOSITORY는 자동설정
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  GITHUB_REPOSITORY: ${{ github.repository }}
                  SMTP_HOST: ${{ secrets.SMTP_HOST }}
                  SMTP_PORT: ${{ secrets.SMTP_PORT }}
                  SMTP_USER: ${{ secrets.SMTP_USER }}
                  SMTP_PASS: ${{ secrets.SMTP_PASS }}
                  SMTP_FROM: ${{ secrets.SMTP_FROM }}
                  SMTP_FROM_NAME: ${{ secrets.SMTP_FROM_NAME }}
                  SMTP_GITHUB_USER_EMAIL: ${{ secrets.SMTP_GITHUB_USER_EMAIL }}
              run: |
                  node ./scripts/send-subscriptions.mjs
